.jumbo{
    width: 100%
}

.lowSun {
	background-color: greenyellow;
}
.moderateSun {
	background-color: yellow;
}
.highSun {
	background-color: orange;
}
.veryHighSun {
    background-color: red;
}

#uvInput {
    text-align: center;
    width: 250px;
}

.fiveDayForecast {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
}

.theWeather{
    display: flex;
    flex-direction: row;
}

